<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Join the Club</title>
        <link rel="stylesheet" href="/css/retro_styles.css" />
    </head>
    <body>
        <h1>Join the Club</h1>
        <% if (error) { %>
        <p style="color: red"><%= error %></p>
        <% } %>

        <form action="/membership" method="POST">
            <label for="passcode">Enter the Secret Passcode:</label>
            <input type="password" id="passcode" name="passcode" required />
            <button type="submit">Submit</button>
        </form>

        <a href="/">Back to Home</a>
    </body>
</html>
